<div class="form-group label-floating">
  <%= form.label :name, :html => {:class => "control-label"}%>
  <%= form.text_field :name, class:"form-control", required: true%>
  <div class="help-block with-errors"></div>
</div>